body {
  padding: 0px;
  margin: 0px; }

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #3c8dbc; }
  .nav-bar ul li {
    float: left; }
  .nav-bar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .nav-bar ul .notifications {
    float: right; }
    .nav-bar ul .notifications li {
      padding-left: 17px;
      padding-right: 18px; }
  .nav-bar ul li a:hover:not(.active) {
    background-color: #ddd; }
  .nav-bar ul li i {
    padding-left: 0px;
    color: white;
    position: relative;
    margin-top: 15px; }
  .nav-bar ul li img {
    border-radius: 50%;
    height: 30px;
    margin-top: 10px; }
  .nav-bar ul .user-name {
    position: relative;
    bottom: 8px;
    left: 3px;
    color: white; }
  .nav-bar ul .active {
    width: 250px;
    background-color: #367fa9; }
  .nav-bar ul .fa-bars {
    padding-left: 15px; }
  .nav-bar ul li i .badge1, .nav-bar ul li i .badge2, .nav-bar ul li i .badge3 {
    position: relative; }
  .nav-bar ul .badge1[data-badge]:after, .nav-bar ul .badge2[data-badge]:after, .nav-bar ul .badge3[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -8px;
    right: -10px;
    font-size: .7em;
    background: green;
    color: white;
    width: 12px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 2px;
    box-shadow: 0 0 1px #333; }
  .nav-bar ul .badge2[data-badge]:after {
    width: 15px;
    height: 15px;
    background-color: orange; }
  .nav-bar ul .badge3[data-badge]:after {
    border-radius: 2px;
    background-color: red;
    width: 10px;
    height: 15px; }

.nav-bar .dropdown-content {
  display: none;
  position: absolute;
  margin-top: 13px;
  background-color: #f1f1f1;
  min-width: 330px;
  z-index: 1;
  border-left: 0.8px solid black; }

.nav-bar .dropdown-content div {
  color: black;
  background-color: white;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid black; }

.nav-bar .dropdown-content div:first-child {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 50px;
  padding-left: 8px; }

.nav-bar .dropdown-content div:last-child {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 50px;
  padding-left: 10px; }
  .nav-bar .dropdown-content div:last-child a {
    color: black;
    text-align: center;
    padding: 7px 0px !important; }
    .nav-bar .dropdown-content div:last-child a:hover {
      background-color: white; }

.nav-bar .dropdown-content img {
  width: 45px;
  height: 45px;
  margin-left: 6px; }

.nav-bar small {
  display: block;
  margin-top: 2px; }

.nav-bar .dropdown-content span {
  position: absolute;
  margin-top: 13px;
  left: 56px; }

.nav-bar .dropdown-content p {
  float: right; }

.nav-bar .dropdown-content i {
  color: black; }

.nav-bar .fa {
  cursor: pointer; }

.nav-bar .dropdown-content p {
  margin-top: 0px;
  font-size: 12px;
  padding-right: 10px; }

.nav-bar .dropdown-content a:hover {
  background-color: #ddd; }

.bell-dropdown-content {
  position: absolute;
  display: none;
  margin-top: 14px !important;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
  min-width: 330px;
  z-index: 1; }
  .bell-dropdown-content div:first-child {
    text-align: left;
    padding: 10px !important; }
  .bell-dropdown-content div:last-child {
    text-align: center;
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 10px; }
    .bell-dropdown-content div:last-child a {
      display: block;
      color: black;
      text-align: center;
      padding: 5px 34px;
      text-decoration: none; }
    .bell-dropdown-content div:last-child a:hover {
      background-color: white !important; }
  .bell-dropdown-content p {
    margin-top: 0px;
    margin-bottom: 5px; }
  .bell-dropdown-content div {
    border-bottom: 1px solid black; }
  .bell-dropdown-content p {
    padding: 8px auto 8px 20px; }
  .bell-dropdown-content p i {
    margin-left: 10px;
    padding-right: 10px; }
  .bell-dropdown-content .first-image {
    color: #02c4f3; }
  .bell-dropdown-content .second-image {
    color: #f39c12; }
  .bell-dropdown-content .third-image {
    color: #de645f; }
  .bell-dropdown-content .fourth-image {
    color: #00a65a; }
  .bell-dropdown-content .fifth-image {
    color: #dd4b39; }

.flag-dropdown-content {
  position: absolute;
  display: none;
  right: 240px;
  margin-top: 14px !important;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
  min-width: 330px; }
  .flag-dropdown-content .flag-content {
    padding: 5px 0px 5px 10px;
    border-bottom: 1px solid black; }
    .flag-dropdown-content .flag-content p {
      margin-bottom: 10px;
      margin-top: 5px; }

.progress {
  height: 10px;
  margin-bottom: 11px;
  overflow: hidden;
  width: 308px;
  background-color: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 10px;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease; }

.progress-status {
  float: right;
  padding-right: 13px;
  padding-top: 8px; }

.scroll {
  width: 20px;
  height: 200px;
  overflow: auto;
  float: left;
  margin: 0 10px; }

.scroll1::-webkit-scrollbar {
  width: 5px; }

.scroll1::-webkit-scrollbar-track {
  background: #ddd; }

.scroll1::-webkit-scrollbar-thumb {
  background: #666; }

.position {
  position: relative; }

img {
  border-radius: 50%  !important; }
